name: My First WorkFlow
on:
    # push:
    #     branches:
    #         - main
    workflow_dispatch:
        inputs:
            test:
                description: "It's nice to see this description"
                required: true
            loglevel:
                description: "Log level"
                default: info
                type: choice
                options:
                    - info
                    - warning
                    - debug    
            testbuild:
                description: "it's a test build"
                required: true
                type: boolean
            environment:
                description: "env to deploy"
                type: environment
                required: true
    repository_dispatch:
        types: ["coffee","tea"]
jobs:
    matrix_super_job:
        name: Supper Efficient build
        strategy:
            fail-fast: false
            max-parallel: 3
            matrix:
                os_version: [ubuntu-latest, windows-latest, macos-latest]
                node_version: [20, 21, 22]
        runs-on: ${{ matrix.os_version }}
        steps:
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node_version }}
              
    MyFirstJob:
        runs-on: ubuntu-latest
        steps:
            - name: Hello World Action
              run: echo "Hello World"
            #   working-directory: ./temp

            - name: Checkout
              uses: actions/checkout@v5

            - name: Show Repository Files
              run : |
                echo "Event: ${{ github.event_name }}"
                echo "This repository ${{ github.repository }} contains the following files: "
                tree -a          

            - name: Show Workflow Inputs
              if: ${{ github.event_name == 'workflow_dispatch' }}
              run: |
                echo "Test input: ${{ inputs.test }}"
                echo "Log level: ${{ inputs.loglevel }}"
                echo "Test build: ${{ inputs.testbuild }}"
                echo "Environment: ${{ inputs.environment }}"

            - name: Show payload for repository_dispatch
              if: ${{ github.event_name == 'repository_dispatch' }}
              run: |
                echo Payload: '${{ toJSON(github.event.client_payload) }}'
    MySecondJob:
        runs-on: ubuntu-latest
        needs: MyFirstJob
        steps:
            - run: "echo ${{ github.job }}" 

    MyThirdJob:
        runs-on: ubuntu-latest
        needs: MyFirstJob
        steps:
            - run: "echo ${{ github.job }}" 

    MyFourthJob:
        needs: [MySecondJob, MyThirdJob]
        runs-on: ubuntu-latest
        steps:
            - run: "echo ${{ github.job }}" 

    MyFifthJob:
        runs-on: ubuntu-latest
        steps:
            - run: "echo ${{ github.job }}"

    Post:
        runs-on: ubuntu-latest
        steps:
            # - run: echo "Post"; sleep 30; exit 1

            - id: test_step
              run: |
                echo "Post"
                echo "test_result=passed" >> "$GITHUB_OUTPUT"


            - if: failure()
              
              run: |
                echo "::debug::This is a debug message"
                echo "::error file=MyFirstWorkFlow.yml,line=99::Failure!!!"
                echo "::warning file=MyFirstWorkFlow.yml,line=99,endLine=106,col=76,endColumn=111,title=warning_title::warning massage"
            
            - if: cancelled()
              run: echo "Canceled!!!"

            - if: success()
              run: echo "Success!!!"
            
            - if: always()
              run: |
                echo "${{ steps.test_step.outputs.test_result }}"
                echo "Always!!!"

