name: My First WorkFlow
on:
    push:
        branches:
            - main
    workflow_dispatch:
    schedule:
        - cron: '*/1 * * * *'
jobs:
    MyFirstJob:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World"
            - name: Checkout
              uses: actions/checkout@v5
            - run : |
                echo "This repository ${{ github.repository }} contains the following files: "
                tree -a
