name: My First WorkFlow
on:
    # push:
    #     branches:
    #         - main
    workflow_dispatch:
        inputs:
            test:
                description: "It's nice to see this description"
                required: true
            loglevel:
                description: "Log level"
                default: info
                type: choice
                options:
                    - info
                    - warning
                    - debug    
            testbuild:
                description: "it's a test build"
                required: true
                type: boolean
            environment:
                description: "env to deploy"
                type: environment
                required: true
    repository_dispatch:
        types: ["coffee","tea"]
jobs:
    MyFirstJob:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World"
            - name: Checkout
              uses: actions/checkout@v5
            - name: Show Repository Files
              run : |
                echo "Event: ${{ github.event_name }}"
                echo "This repository ${{ github.repository }} contains the following files: "
                tree -a          
            - name: Show Workflow Inputs
              if: ${{ github.event_name == 'workflow_dispatch' }}
              run: |
                echo "Test input: ${{ inputs.test }}"
                echo "Log level: ${{ inputs.loglevel }}"
                echo "Test build: ${{ inputs.testbuild }}"
                echo "Environment: ${{ inputs.environment }}"

            - name: Show payload for repository_dispatch
              if: ${{ github.event_name == 'repository_dispatch' }}
              run: |
                echo Payload: '${{ toJSON(github.event.client_payload) }}'