name: My First WorkFlow
on:
    push:
        branches:
            - main
    workflow_dispatch:
        inputs:
            test:
                description: "It's nice to see this description"
                required: true
            loglevel:
                description: "Log level"
                default: info
                type: choice
                options:
                    - info
                    - warning
                    - debug    
            testbuild:
                description: "it's a test build"
                required: true
                type: boolean
            environment:
                description: "env to deploy"
                type: environment
                required: true
                
jobs:
    MyFirstJob:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Hello World"
            - name: Checkout
              uses: actions/checkout@v5
            - run : |
                echo "This repository ${{ github.repository }} contains the following files: "
                tree -a
                echo "Test input: ${{ inputs.test }}"
                echo "Log level: ${{ inputs.loglevel }}"
                echo "Test build: ${{ inputs.testbuild }}"
                echo "Environment: ${{ inputs.environment }}"